body{
    background-color: rgb(255, 255, 255);
}

#image{
    position: relative;
    padding: 3px;
    top: 25px;
}

#name{
    background-color: rgb(255, 242, 160);
    font-size: larger;
    padding: 20px;
    border-color: black;
    border: 5px;
    border-radius: 10px;
    width: 500px;
    position: relative;
    left: 420px;
    bottom: 92px;
}

#blank{
    background-color: rgb(255, 242, 160);
    border: 5px black;
}

#parent{
    background-color: rgb(147, 171, 180);
    padding: 10px;
    height:1250px;
    width: 1500px;
    position: relative;
    bottom: 30px;
}

#box1{
    width:750px;
}

#box2{
    width:700px;
    position: relative;
    left: 750px;
    bottom: 1166px;
}

.child{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

.sub{
    font-size: 25px;
}

table{
    width: 750px;
}

.slider{
    width: 500px;
    margin-left: 50px;
}

span{
    margin-left: 380px;
}